@model EpiCodex.Models.Project



<h4>Add a new Project</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title)

    @Html.LabelFor(model=>model.Headline)
    @Html.TextBoxFor(model => model.Headline)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.GithubLink)
    @Html.TextBoxFor(model => model.GithubLink)
    
  //1. README upload
  //2. Link to repository
  <input type="submit" value="Add new Project" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all projects", "Index")</p>