@{
  Layout = "_Layout";
}
@using EpiCodex.Models
@model EpiCodex.Models.Project

<h2>Project Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This project does not have any technologies yet!</p>
}
else
{
  <h4>This item has the following tags:</h4>
  <ul>
    @foreach(ProjectTechnology join in Model.JoinEntities)
    {
      
      <li>Technology: @join.Technology.Type</li>
      @using (Html.BeginForm("DeleteJoin", "Projects"))
      {
        @Html.Hidden("joinId", @join.ProjectTechnologyId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a Technology", "AddTechnology", new {id = Model.ProjectId})</p>
<p>@Html.ActionLink("Edit Project", "Edit", new { id = Model.ProjectId })</p>
<p>@Html.ActionLink("Delete Project", "Delete", new { id = Model.ProjectId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>